@model FInalProject1.Models.Developer

@{
    ViewBag.Title = "AddSkill";
}



<div>
    @Html.ActionLink("Back", "Profile", new { id = Model.DeveloperID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}