<div class="second-row">
  <div class="col first-col">
    <input matInput [matDatepicker]="date1" [(ngModel)]="checkInDate" placeholder="Check-in" disabled>
    <mat-datepicker-toggle matSuffix [for]="date1"></mat-datepicker-toggle>
    <mat-datepicker #date1 disabled="false"></mat-datepicker>
  </div>

  <div class="col second-col">
    <input matInput [matDatepicker]="date2" placeholder="Check-out" [min]="checkInDate" disabled>
    <mat-datepicker-toggle matSuffix [for]="date2"></mat-datepicker-toggle>
    <mat-datepicker #date2 disabled="false"></mat-datepicker>
  </div>

  <div class="col">
    <i class="fa fa-users"></i>
    <mat-select placeholder="Family Rooms">
      <mat-option *ngFor="let roomType of roomTypes" [value]="roomType.name">{{roomType.name}}</mat-option>
    </mat-select>
  </div>
</div>